body, html {
	margin:0;
	font-family: arial;
}

.content {
	padding:30px;
	
	
}
iframe {
	margin: 40px;
}


.logo img{
	-webkit-filter: drop-shadow(0 0 3px black);
	margin-bottom:100px;
	border-bottom: solid 2px black;
	
}

.logo:hover {
	-webkit-filter: drop-shadow(0 0 2px red);
	cursor:cell;
	height:60px;
	width:100%px;
	position: absolute;
	-o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    transition:.8s;
	
	
}

.logo2 img{
	-webkit-filter: drop-shadow(0 0 2px black);
	
	
}
.nav-main .logo{
	float:left;
	width: 10px;
	margin: 0px;
	height: 30px;
	padding: 5px 30px;
	
	
	
	
}
.yow{
	text-align: center;
}


.nav-main > ul {
	margin:auto;
	padding:20;
	float: right;
	list-style-type:none;
	
	
}

.nav-main > ul > li {
	float:left;
	
}

.nav-item {
	position: static;
	display:inline-block;
	padding:10px 10px;
	height:40px;
	line-height:0px;
	color:black;
	text-decoration:none;
	
}

.nav-item:hover {
	background: red;
	color: white;
	border: solid 2px black;
	-webkit-filter: drop-shadow(0 0 2px black);
	cursor:cell;
	height:2px;
	width:50%px;
	position: relative;
	-o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    transition:.8s;
}











footer {
	border-top: solid 2px black;
	font-family: arial;
	color: black;
	width: 100%;
	background-color: #c2dde6;
	padding: 10px 0px;

}

footer nav {
	text-align: center;
}

footer nav ul {
	
}

footer nav ul li {
	display: inline-block;
	margin-left:50px;
	margin:0;
	list-style-type: none;
	
}

footer nav ul li a {
	box-sizing: border-box;
	border: solid 1px black;
	padding: 5px;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

footer nav ul li a:hover {
	background: red;
	color: white;
	cursor:cell;
	height:2px;
	width:50%px;
	position: relative;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

h1 {
	font-size: 12px;
	color: gray;
}

.social-links1:hover {
	-webkit-filter: drop-shadow(0 0 2px aqua);
	
	cursor:default;
	height:60px;
	width:100%px;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;

}

.social-links2:hover {
	-webkit-filter: drop-shadow(0 0 2px #8B4513);
	cursor:default;
	height:60px;
	width:100%px;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;

}

.social-links3:hover {
	-webkit-filter: drop-shadow(0 0 2px red);
	cursor:default;
	height:60px;
	width:100%px;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;

}

ontime {
	font-size: 12px;
	font-family: monospace;
}